input {
	background-color: $dark-blue;
	display: inline-block;
  width: 260px;
  height: 50px;
  margin: 5px auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1.5px solid $sky-blue;
	transition: all .2s ease;
	border-radius: 4px;
	color: $white;
}

input:focus {
	border: 1.5px solid $gray;
	outline: none;
}

input::-webkit-input-placeholder{
	color: $white;
	font-size: 14px;
}