.about-page {
    .title-bar {
        background-image: url("../images/about.png");
    }
    .profile {
        text-align: center;
        padding-bottom: 100px;
    }
    // .team {
    //     border: 1px solid $dark-blue;
    //     padding: 100px  0;
    //     background: linear-gradient(to bottom, $white 0%, $white 50%,$dark-blue 50%,$dark-blue 100%);
    //     h3 {
    //         margin-top: 0;
    //         margin-bottom: 100px;
    //         font-size: 30px;
    //     }
    //     .team-members {
    //         display: flex;
    //         justify-content: center;
    //         flex-wrap: wrap;
    //         .card {
    //             border: 1px solid $dark-blue;
    //             margin: 1%;
    //             background: $white;
    //             text-align: center;
    //             width: 23%;
    //             .card-title {
    //                 margin-top: 15px;
    //                 font-size: 20px;
    //                 line-height: 35px;
    //                 font-weight: 500;
    //                 padding: 8px;

    //             }
    //             .card-sub-title {
    //                 padding: 8px;
    //                 font-size: 14px;
    //                 line-height: 35px;
    //             }
    //             .card-content {
    //                 font-size: 18px;
    //                 line-height: 24px;
    //                 font-weight: 300;
    //                 padding: 8px 8px 40px 8px;

    //             }
    //         }
    //         .person-image {
    //             width: 100%;
    //         }
    //     }
    // }

    .vision {
        text-align: center;
    }

    .values {
        color: $white;
        background-color: $dark-blue;
        margin-top: 100px;
        padding: 100px 0;
        ul {
            list-style: none;
            li {
                background-image: url('../images/correct.png');
                background-position: left;
                background-repeat: no-repeat;
                padding-left: 40px;
                line-height: 50px;
                font-size: 20px;
                font-weight: 300;
            }
        }
        h3 {
            color: $white;
            margin-top: 0;
            margin-bottom: 100px;
        }
    }

    .governance {
        ul {
            list-style: none;
            li {
                background-image: url('../images/correct-blue.png');
                background-position: left;
                background-repeat: no-repeat;
                padding-left: 40px;
                line-height: 50px;
                font-size: 20px;
                font-weight: 300;
            }
        }
    }

    .row {
        @media screen and (max-width: 600px) {
            flex-direction: column;
          }
    }
}


.team {
    border: 1px solid $dark-blue;
    padding: 50px  0;
    background: linear-gradient(to bottom, $white 0%, $white 50%,$dark-blue 50%,$dark-blue 100%);
    h3 {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 30px;
        text-align: center;
        @media screen and (min-width: 1200px) {
            margin-bottom: 100px;
        }
    }
    .team-members {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        .card {
            border: 1px solid $dark-blue;
            background: $white;
            text-align: center;
            margin-bottom: 16px;
            .card-title {
                margin-top: 15px;
                font-size: 20px;
                line-height: 35px;
                font-weight: 500;
                padding: 8px;

            }
            .card-sub-title {
                padding: 8px;
                font-size: 14px;
                line-height: 35px;
            }
            .card-content {
                font-size: 18px;
                line-height: 24px;
                font-weight: 300;
                padding: 8px 8px 40px 8px;

            }
            @media screen and (min-width: 960px) {
                width: 48%;
                margin: 1%;
            }
            @media screen and (min-width: 1200px) {
                width: 23%;
                margin: 1%;
            }
            
        }
        .person-image {
            width: 100%;
        }
        @media screen and (min-width: 960px) {
            flex-direction: row;
        }
    }
    @media screen and (min-width: 1200px) {
        padding: 100px 0;
    }
}

.section-wrapper {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    h3 {
        margin-top: 0;
    }
    @media screen and (min-width: 600px) {
        padding-bottom: 100px;
        padding-top: 100px;
    }
}

#values {
    background-color: $dark-blue;
    color: $white;
    ul {
        list-style: none;
        text-align: left;
        padding: 0;
        li {
            background-image: url('../images/correct.png');
            background-position: left;
            background-repeat: no-repeat;
            padding-left: 40px;
            line-height: 50px;
            font-size: 16px;
            font-weight: 300;
        }
        @media screen and (min-width: 600px) {
            padding-left: 20px;
            li {
                font-size: 20px;
            }
        }
    }
    h3 {
        color: $white;
        margin-top: 0;
    }
}

.governance {
    ul {
        list-style: none;
        padding: 0;
        li {
            background-image: url('../images/correct-blue.png');
            background-position: left;
            background-repeat: no-repeat;
            padding-left: 40px;
            line-height: 50px;
            font-size: 20px;
            font-weight: 300;
        }
        @media screen and (min-width: 600px) {
            padding-left: 20px;
        }
    }
}